<nav class="navbar navbar-dark sticky-top bg-primary">
    <div class="container-fluid">
        {#    {% include "navbar/offcanvas.html" %}#}
        {% if request.path != '/index/'  %}
            <a class="btn btn-light align-middle" href="/index">
{#                <i class="bi bi-boxes me-3"></i>experiment overview#}
                <i class="bi bi-arrow-left-square me-2"></i>experiment overview
            </a>
        {% else %}
            <div>

            </div>
        {% endif %}
        <div class="navbar-brand h1 fw-bold">ADARE</div>
        <div>

        </div>
    </div>
</nav>

